.bodyContainer{
    margin: 20px 100px;
    background-color: #edede9;
    text-align: center;
    direction: rtl;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}